body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color:#FFFFFF;
    margin: 0;
}
/* resset */
a{
text-decoration: none;

}
ul,
li{
 list-style-type: none;
   margin: 0;
   padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* heder */
.header{
border-bottom: 1px solid #e7e9fc;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;}
.heder-container{
display: flex;
align-items: center;
width: 1158px;
}
.navigat{
display: flex; 
align-items:center;
}
.emblem{
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    line-height: 1.17;
    text-transform:uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
    display: inline-block;
}
.kolorstudio{
    color:#2E2F42;
}
.navigation-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 40px;
}
.poret{
color:#2e2f42;
padding: 24px 0;
display: block;
}
.poret:hover,
.poret:focus{
color: #404bbf;
}
.navigation-list:hover,
.navigation-list:focus{
    color: #404bbf;
}
.adres-norm{
font-style: normal;
margin-left: auto;
}
.contakt-lust{
 display: flex;
 align-items: center;
 gap: 40px;
}
.mail {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}
.mail-fonts{
color: #434455;
display: block;
padding: 24px 0;
line-height: 1.5;
letter-spacing: 0.02em;
font-size: 16px;
    }
.mail-fonts:hover,
.mail-fonts:focus {
    color: #404BBF;
}
/* Effective Solutions  */
.section{
padding-top: 120px;
padding-bottom: 120px;
}
.replik{
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        line-height: 1.07;
        margin-left: auto;
        margin-right: auto;
        max-width: 496px;
    }
.content{
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color:#4D5AE5;
        cursor:pointer;
        border-radius: 4px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
        min-width: 169px;
        display: block;
        border: none;
}
.content:hover,
.content:focus {
        background-color:#404BBF;
        cursor: pointer;
}
.bottum-clas{
padding: 188px 0;
background-color: #2E2F42;
}
/* < page description  */

.tekster{
display: flex;
align-items: center;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
gap: 24px;
}
.visually-hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.spyp-description{
width: calc((100% - 72px)/4);
flex-shrink: 0;
}
 .com {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color:#2e2f42;
        margin-bottom: 8px;
}
.retro{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
/* photo of the developers  */
.sectioner{
padding: 120px 0;
background-color: #F4F4FD;
}
.agovres{
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
line-height: 1.11;
margin-bottom: 72px;
font-family: "Roboto", sans-serif;
}
.fotomen{
display: flex;
gap: 24px;
border-radius: 0px 0px 4px 4px;
background-color: #FFFFFF;
border: 1px solid #000;
}
.ramka{
padding: 32px 0;
}
.imy-developers{
margin-bottom: 8px;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2e2f42;
}
.info-developers{
padding-top: 4px;
}
.spusok-devep{
border-radius: 0px 0px 4px 4px;
}

/*  fotograf telton */
.agov{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    line-height: 1.11;
    margin-bottom: 72px;
}
.telefonfoto{
display: flex;
align-items: center;
gap: 24px;
flex-wrap: wrap;
row-gap: 48px;
}
.telcon-element {
    width: calc((100% - 48px) / 3);
    display: block;
    border-top: none;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}
.imy{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
    margin-bottom: 8px;
}
.info-imy{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.restro{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
/* < futter */
.kolorstudio-p{
color: #f4f4fd;
}
.tekct {
    font-family:"Roboto",sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
max-width: 264px;
color: #F4F4FD;
}
.topctor{
padding: 100px 0 100px;
background-color: #2e2F42;
}
.emberand{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}